*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #C5C8E7;
}

.head {
  position: relative;
  width: 250px;
  height: 130px;
  background-color: #0a3442;
  border-top-left-radius: 80px;
}

/* orejas */
.head::before, .head::after {
  content: '';
  position: absolute;
  left: 70px;
  top: -49px;
  width: 50px;
  height: 50px;
  background-color: #000001;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.head::after {
  left: 200px;
  background-color: #0A3442;
}

.eyes {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 25px;
  height: 25px;
  background-color: white;
  clip-path: circle(50% at 50% 100%);
}

.e_right {
  left: 150px;
}

.mouth {
  position: absolute;
  top: 70px;
  width: 200px;
  height: 30px;
  background-color: #F6C09C;
  border-top-right-radius: 20px;
}

.lip {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80%;
  height: 5px;
  background-color: red;
}

.neck {
  position: relative;
  width: 250px;
  height: 18px;
  background-color: black;
}

/* capa izquierda top */
.neck::before {
  content: '';
  position: absolute;
  left: -254px;
  z-index: -2;
  width: 300px;
  height: 117px;
  background-color: #005AA0;
  border-bottom-left-radius: 35px;
}

.body {
  position: relative;
  width: 250px;
  height: 180px;
  background-color: #0a3442;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

/* brazo */
.body::before, .body::after {
  position: absolute;
  top: -5px;
  left: -30px;
  z-index: -1;
  content: '';
  width: 60px;
  height: 100px;
  background-color: black;
  border-radius: 50px;
  transform: rotate(45deg)
}

.body::after {
  top: 25px;
  transform: rotate(-45deg);
}

.belt {
  position: absolute;
  top: 90px;
  left: -12px;
  width: 280px;
  height: 50px;
  background-color: #FEC93D;
  border-radius: 10px;
}

/* capa izquierda bottom */
.belt::before {
  position: absolute;
  content: "";
  top: -10px;
  left: -150px;
  z-index: -2;
  width: 400px;
  height: 125px;
  background-color: #005AA0;
  border-bottom-left-radius: 50px;
}

/* efecto redondo capa derecha */
.belt::after {
  content: '';
  position: absolute;
  top: -94px;
  left: 55px;
  width: 50px;
  height: 94px;
  background-color: #0a3442;
  z-index: 1;
  border-top-right-radius: 16px;
}

.foot {
  position: relative;
  width: 70px;
  height: 40px;
  background-color: black;
  transform: translateX(-50px);
}

.f_right {
  top: -40px;
  background-color: #0a3442;
  transform: translateX(50px);
}

.shadow {
  width: 600px;
  height: 5px;
  background-color: #8D94CA;
  transform: translate(-70px, -40px);
}

/* capa derecha */
.shadow::before {
  content: '';
  position: absolute;
  top: -238px;
  left: 334px;
  width: 201px;
  height: 225px;
  background-color: #006CAA;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 110px;
}

/* cuadrado superior capa derecha */
.shadow::after {
  content: '';
  position: absolute;
  top: -238px;
  left: 291px;
  width: 50px;
  height: 18px;
  background-color: #006CAA;
}